/*h1 Title Text */
h1 {
  font-size: 54px;
  color: rgb(160, 177, 203);
  #color:rgb(0,110,183);
  font-weight: bold;
  
}

/*h2 Title Text */
h2 {
  font-size: 32px;
  color: #333;
}

/*h3 Title Text */
h3 {
  font-size: 32px;
  color: #333;
}

/*p Running Text */
p {
  font-size: 16px;
  color: #555;
}

/* Navbar Styling */
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}

/* Position the logo in the top-right corner */
.logo {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 300px;  /* Adjust width as needed */
  height: auto;
}

/* General Container */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('MongolOase-JNoack-110-1200x750.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Text Box Styling */
.text-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

/* Content Padding */
.content {
  padding: 20px;
}
